{{- $headerOK := false }} <!-- dumb: if any are set, set parent tag -->
{{- $titleOK:= and (not (and "" .Title)) (and (isset .Params "titleAsH1") (not .Params.titleAsH1)) }}
{{- if $titleOK}}{{ $headerOK = true }}{{ end }}
{{- with .PublishDate }}{{ $headerOK = true }}{{ end }}
{{- if .Params.readingTime }}{{ $headerOK = true }}{{ end }}
{{- if $headerOK }}
<header>
{{- if $titleOK}}{{with .Title}}<h1>{{ . | markdownify }}</h1>{{end}}{{ end }}
{{ with .PublishDate }}<time datetime="{{ . | safeHTMLAttr }}" itemprop="datePublished">{{ . | time.Format "2006-01-02" }}</time>{{ end -}}
{{- $tags := (and (isset .Params "tags") (gt (len .Params.tags) 0) ) }}
{{- if and .PublishDate (or .Params.readingTime $tags) }} • {{ end }}
{{- if .Params.readingTime }}{{i18n "readingTime" .ReadingTime}}{{if $tags}} • {{end}}{{ end }}
{{- if $tags }}{{ range $i, $_ := .GetTerms "tags" }}
{{- if gt $i 0 }} • {{ end -}}
<a style="color:#000" href="{{.RelPermalink}}">{{.LinkTitle}}</a>
{{- end }}
{{- end }}
</header>
{{- end }}
{{ .Content -}}
