{{- $headerOK := false }}
{{- $titleOK := and (not (and "" .Title)) (not (and (isset .Params "titleash1") (not .Params.titleAsH1) )) }}
{{- if $titleOK}}{{ $headerOK = true }}{{ end }}
{{- with .PublishDate }}{{ $headerOK = true }}{{ end }}
{{- $readingTime := (or .Params.readingTime (and (not (isset .Params "readingtime")) .Site.Params.readingTime) )}}
{{- if $readingTime }}{{ $headerOK = true }}{{ end }}
{{- /* */}}
{{- if $headerOK }}
<header>
{{- if $titleOK }}{{with .Title}}<h1>{{ . | markdownify }}</h1>{{end}}{{ end }}
{{- /* */}}
{{ with .PublishDate }}<time datetime="{{ . | safeHTMLAttr }}" itemprop="datePublished">{{ . | time.Format "2006-01-02" }}</time>{{ end -}}
{{- $tags := (and (isset .Params "tags") (gt (len .Params.tags) 0) ) }}
{{- if and .PublishDate (or $readingTime $tags) }} • {{ end }}
{{- if $readingTime }}{{i18n "readingTime" .ReadingTime}}
{{- /* */}}
{{- if $tags}} • {{end}}{{ end }}
{{- if $tags }}{{ range $i, $_ := .GetTerms "tags" }}
{{- if gt $i 0 }} • {{ end -}}
<a class="mainblack" href="{{.RelPermalink}}">{{.LinkTitle}}</a>
{{- end }}
{{- /* */}}
{{- end }}
</header>
{{- end }}
{{ .Content -}}
